@model ReleaseViewModel


<style>
    label {
        font-size: 15px
    }
</style>

<div class="container">
    <div class="card" style="margin: auto;">
        <div class="card-header" style="background-color: slategrey; color: white; font-size: 20px">
            領用管理
        </div>
        <span style="font-size:15px;font-weight:bold" class="text-danger col-lg-10">※治具、線板材，物料編號請輸入序號，領用數量只能為 1 </span>
        <div class="card-body">
            @*<input id="timezoneOffset" asp-for="TimezoneOffset" class="form-control" type="hidden" />*@


            <!--<div class="form-row">
                <div class="form-group input-group-sm col-md-6">
                    <label asp-for="Memo"></label>
                    <input id="memo" asp-for="Memo" class="form-control" type="text" value="" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group input-group-sm col-md-6">
                    <label asp-for="ReleaseUser"></label>-->
            @*<span asp-validation-for="CreateUser" style="font-size:10px;font-weight:700" class="text-danger"></span>*@
            <!--<input asp-for="ReleaseUser" class="form-control" type="text" value="" />
            </div>
            <div class="form-group input-group-sm col-md-6">
                <label asp-for="ReleaseDate"></label>-->
            @*<span asp-validation-for="CreateDate" style="font-size:10px;font-weight:700" class="text-danger"></span>*@
            <!--<input asp-for="ReleaseDate" class="form-control" type="datetime-local" value="" />
                </div>
            </div>
            <table id="instable" class="table table-borderless">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ReleaseList.First().PartNo)</th>
                        <th>@Html.DisplayNameFor(model => model.ReleaseList.First().Node)</th>
                        <th>@Html.DisplayNameFor(model => model.ReleaseList.First().Quantity)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr>
                        <td>
                            <input class="form-control" placeholder="物料編號" type="text" value="" />
                        </td>
                        <td>
                            <input class="form-control" type="text" value="" />
                        </td>
                        <td>
                            <input class="form-control" type="number" value="0" min="0" />
                        </td>
                        <td>
                            <input class="btn" type="button" value="　" disabled />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="float: left;">
                <input class="btn btn-sm btn-outline-dark" id="addBtn" type="button" value="＋Add" />
            </div>
            <div style="float: right;">
                <input id="btnInsert" type="submit" class="btn btn-primary btn-sm" value="領用">
            </div>-->

            <form id="form">
                <div class="row d-flex">
                    <div class="col-lg-5 d-flex">
                        <div class="col-lg-4">
                            <label class="col-form-label" asp-for="PartNo1"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="PartNo1" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-4">
                            <label class="col-form-label" asp-for="Node1"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="Node1" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-6">
                            <label class="col-form-label" asp-for="Count1"></label>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="Count1" class="form-control" type="number" value="0" min="0" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-5 d-flex">
                        <div class="col-lg-4">
                            <label class="col-form-label" asp-for="PartNo2"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="PartNo2" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-4">
                            <label class="col-form-label" asp-for="Node2"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="Node2" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-6">
                            <label class="col-form-label" asp-for="Count2"></label>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="Count2" class="form-control" type="number" value="0" min="0" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-5 d-flex">
                        <div class="col-lg-4">
                            <label class="col-form-label" asp-for="PartNo3"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="PartNo3" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-4">
                            <label class="col-form-label" asp-for="Node3"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="Node3" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-6">
                            <label class="col-form-label" asp-for="Count3"></label>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="Count3" class="form-control" type="number" value="0" min="0" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-5 d-flex">
                        <div class="col-lg-4">
                            <label class="col-form-label" asp-for="PartNo4"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="PartNo4" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-4">
                            <label class="col-form-label" asp-for="Node4"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="Node4" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-6">
                            <label class="col-form-label" asp-for="Count4"></label>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="Count4" class="form-control" type="number" value="0" min="0" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-5 d-flex">
                        <div class="col-lg-4">
                            <label class="col-form-label" asp-for="PartNo5"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="PartNo5" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-4">
                            <label class="col-form-label" asp-for="Node5"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="Node5" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-6">
                            <label class="col-form-label" asp-for="Count5"></label>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="Count5" class="form-control" type="number" value="0" min="0" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-5 d-flex">
                        <div class="col-lg-4">
                            <label class="col-form-label" asp-for="PartNo1"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="PartNo1" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-4">
                            <label class="col-form-label" asp-for="Node1"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="Node1" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-6">
                            <label class="col-form-label" asp-for="Count1"></label>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="Count1" class="form-control" type="number" value="0" min="0" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-8 d-flex">
                        <div class="col-lg-2">
                            <label asp-for="Memo"></label>
                        </div>
                        <div class="col-lg-10">
                            <input asp-for="Memo" class="form-control" type="text" value="" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-3">
                            <label asp-for="ReleaseUser"></label>
                        </div>
                        <div class="col-lg-9">
                            <input asp-for="ReleaseUser" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-3">
                            <label asp-for="ReleaseDate"></label>
                        </div>
                        <div class="col-lg-9">
                            <input asp-for="ReleaseDate" class="form-control" type="datetime-local" value="" />
                        </div>
                    </div>
                </div>
                <br />
                <input id="btnInsert" type="submit" class="btn btn-primary btn-sm" value="領用">
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#form").submit(function (e) {
            //$("#btnInsert").click(function (e) {
            //    var _model = {};

            //    var membersDetails = new Array();
            //    $("#instable tbody tr").each(function () {
            //        var row = $(this);
            //        var memberDetails = {};
            //        memberDetails.PartNo1 = row.find("td").eq(0).children().val();
            //        memberDetails.Count1 = row.find("td").eq(1).children().val();
            //        membersDetails.push(memberDetails);
            //    });

            //    _model['ReleaseList'] = membersDetails;
            //    _model['ReleaseUser'] = $('#releaseUser').val();
            //    _model['ReleaseDate'] = $('#releaseDate').val();
            //    _model['Memo'] = $('#memo').val();

            e.preventDefault();
            $.blockUI();
            $.ajax({
                type: "POST",
                url: "Release/Update",
                dataType: 'json',
                data: $('#form').serialize(),
                /*data: { 'releaseViewModel': _model },*/
                success: function (result) {
                    if (result == "") {
                        alert("全部領用成功");
                    }
                    else {
                        alert(result);
                        $.unblockUI();
                    }
                    $.unblockUI();
                    location.reload();
                }
            });
        })
    });

    $('#addBtn').on('click', function () {

        // Adding a row inside the tbody.
        $('#tbody').append(`
        <tr>
            <td>
                <input class="form-control" type="text" value="" />
            </td>
            <td>
                <input class="form-control" type="text" value="" />
            </td>
            <td>
                <input class="form-control" type="number" value="0" min="0" />
            </td>
            <td>
                <input class="btn" type="button" value="&times;" onclick="clickCancel(this)" />
            </td>
        </tr>`);
    });

    function clickCancel(e) {
        $(e).parent().parent().remove();
    }
</script>
