@model WarehouseInsertViewModel

@{
}

<style>
    label {
        font-size: 15px
    }

    .text-danger {
        font-size: 15px;
        font-weight: bold;
    }
</style>

<div class="container">
    @*<form id="thisForm" asp-controller="Warehouse" asp-action="Search" method="get">*@
    <div class="card" style="margin: auto;">
        <div class="card-header" style="background-color: slategrey; color: white; font-size: 20px">
            入庫管理
        </div>
        <span class="text-danger col-lg-10">※ "入庫人員"及"時間"選填, 預設帶入登錄帳號及系統時間</span>
        <div class="card-body">
            @*<input id="timezoneOffset" asp-for="TimezoneOffset" class="form-control" type="hidden" />*@
            <form id="form" asp-action="Insert" method="post">
                <div class="row d-flex">
                    <div class="col-lg-8 d-flex">
                        <div class="col-lg-3">
                            <label class="col-form-label" asp-for="PartNo1"></label>
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" asp-for="PartNo1" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-5">
                            <label asp-for="Count1"></label>
                        </div>
                        <div class="col-lg-7">
                            <input asp-for="Count1" class="form-control" type="number" value="0" min="0" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-8 d-flex">
                        <div class="col-lg-3">
                            <label class="col-form-label" asp-for="PartNo2"></label>
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" asp-for="PartNo2" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-5">
                            <label asp-for="Count2"></label>
                        </div>
                        <div class="col-lg-7">
                            <input asp-for="Count2" class="form-control" type="number" value="0" min="0" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-8 d-flex">
                        <div class="col-lg-3">
                            <label class="col-form-label" asp-for="PartNo3"></label>
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" asp-for="PartNo3" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-5">
                            <label asp-for="Count3"></label>
                        </div>
                        <div class="col-lg-7">
                            <input asp-for="Count3" class="form-control" type="number" value="0" min="0" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-8 d-flex">
                        <div class="col-lg-3">
                            <label class="col-form-label" asp-for="PartNo4"></label>
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" asp-for="PartNo4" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-5">
                            <label asp-for="Count4"></label>
                        </div>
                        <div class="col-lg-7">
                            <input asp-for="Count4" class="form-control" type="number" value="0" min="0" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-8 d-flex">
                        <div class="col-lg-3">
                            <label class="col-form-label" asp-for="PartNo5"></label>
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" asp-for="PartNo5" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-5">
                            <label asp-for="Count5"></label>
                        </div>
                        <div class="col-lg-7">
                            <input asp-for="Count5" class="form-control" type="number" value="0" min="0" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-8 d-flex">
                        <div class="col-lg-3">
                            <label asp-for="Memo"></label>
                        </div>
                        <div class="col-lg-9">
                            <input asp-for="Memo" class="form-control" type="text" value="" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-4">
                            <label asp-for="CreateUser"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="CreateUser" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-4">
                            <label asp-for="CreateDate"></label>
                        </div>
                        <div class="col-lg-8">
                            <input asp-for="CreateDate" class="form-control" type="datetime-local" value="" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row col-lg-3">
                    <input id="btnInsert" type="button" class="btn btn-info btn-sm" value="新增">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnInsert").click(function (e) {
            e.preventDefault();
            $.blockUI();
            $.ajax({
                type: "POST",
                url: "Warehouse/Insert",
                dataType: 'json',
                data: $('#form').serialize(),
                success: function (result) {
                    if (result == "") {
                        $('input').attr("disabled", true);
                        alert("入庫成功");
                        location.reload();
                    }
                    else {
                        alert(result);
                        $.unblockUI();
                    }
                }
            });
        })
    })
</script>