@model LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]備品管理系統</title>
    <link rel="stylesheet" href="~/css/font-awesome/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/custLogin.css">
    <link rel="stylesheet" href="~/css/font-style/font.css">
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- include BlockUI -->
    <script src="~/lib/jquery-blockUI/dist/jquery.blockUI.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript">
        //寫在_Layout.cshtml 供其他頁面使用
        //為所有的$.ajax呼叫設定預設值，當遇到StatusCode為401時，頁面導至登入頁
            $.ajaxSetup({
                statusCode: {
                    401: function () {//未授權，Unauthorized
                        //JS前端導頁
                       window.location.href = "@Url.Action("Index","Account")";

                    }
                }
            });
    </script>
    <style>

        .layoutImg {
            width: 100px;
            height: 80px;
        }

        p[name=title] {
            font-family: "Audiowide", cursive;
        }

        .large {
            font-size: 6rem;
        }
        
        .rise {
            text-shadow: -0.01em -0.01em 0.01em #000;
            animation: rise 1s ease-in-out 0.5s forwards;
        }
        
        @@keyframes rise {
            to {
                text-shadow: 0em 0.01em #d9d9d9, 0em 0.02em #d9d9d9, 0em 0.02em 0.03em #d9d9d9, -0.01em 0.01em #333, -0.02em 0.02em #333, -0.03em 0.03em #333, -0.04em 0.04em #333, -0.01em -0.01em 0.03em #000, -0.02em -0.02em 0.03em #000, -0.03em -0.03em 0.03em #000;
                transform: translateY(-0.025em) translateX(0.04em);
            }
        }

    </style>
    <div>
        <div style="text-align: center; width: 99%;">
            <p name="title" class="large rise">備品管理系統</p>
        </div>
        <div class='box'>
            <div class='box-form'>
                <div class='box-login-tab'></div>
                <div class='box-login-title'>
                    <div class='i i-login'></div><h2>LOGIN</h2>
                </div>
                <div class='box-login'>
                    <div class='fieldset-body' id='login_form'>
                        <button onclick="openLoginInfo();" class='b b-form i i-more' title='Mais Informações'></button>
                        <form id="form">
                            <p class='field'>
                                <label asp-for="Account"></label>
                                <span asp-validation-for="Account" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                <input type='text' id='user' name='Account' title='Username' />
                                @*<input id="acc" asp-for="Account" class="form-control" type="text" value="" />*@
                            </p>
                            <p class='field'>
                                <label asp-for="Password"></label>
                                <span asp-validation-for="Password" style="font-size:10px;font-weight:700" class="text-danger"></span>
                                <input id="pwd" asp-for="Password" class="form-control" type="password" value="" />
                            </p>
                        </form>
                        <input type='submit' id='do_login' value='登錄' title='登錄' />
                    </div>
                </div>
            </div>
            <div class='box-info'>
                <p>
                    <button onclick="closeLoginInfo();" class='b b-info i i-left' title='Back to Sign In'></button><h3>Need Help?</h3>
                </p>
                <div class='line-wh'></div>
                <button onclick="" class='b-support' title='Forgot Password?'> Forgot Password?</button>
                <button onclick="" class='b-support' title='Contact Support'> Contact Support</button>
                <div class='line-wh'></div>
                <button onclick="" class='b-cta' title='Sign up now!'> CREATE ACCOUNT</button>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $('#do_login').click(function (e) {
        if ($("#form").valid()) {
            $.blockUI();
            $.ajax({
                type: "POST",
                url: "/Account/Login",
                dataType: 'json',
                data: $("#form").serialize(),
                success: function (result) {
                    if (result != '') {
                        alert(result);
                        $.unblockUI();
                    }
                    else {
                        alert('登錄成功');
                        location.href = "/Home/Index";
                    }
                }
            });
        }
    });
</script>
