@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MOD4 備品管理系統</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<script type="text/javascript">


    //$(document).ready(function () {
    //    setInterval(function () {
    //        $.ajax({
    //            type: "GET",
    //            url: "/Home/Index",
    //            dataType: 'json',
    //            beforeSend: function () {
    //                alert('refresh success!');
    //            },
    //            success: function (result) {                    
    //            }
    //        });
    //    }, 2000);
    //});
</script> 