
<div class="container">
    <div class="card myCard" style="width: 100%; ">
        <div class="card-body">
            <div class="card-title" style="font-size: 25px; font-weight: 700; color: #787878; font-style: italic;">
                線板材管理
            </div>
            <hr />
            <form id="form">
                <div class="row">
                    <div class="col-md-4">
                        <label>物料編號：</label>
                        <input id="partNo" type="text" value="" />
                    </div>
                    <div class="col-md-4">
                        <label>名稱：</label>
                        <input id="name" type="text" value="" />
                    </div>
                    <div class="col-md-4">
                        <label>採購料號：</label>
                        <input id="purchaseId" type="text" value="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <input id="btnSearch" type="submit" class="btn btn-info btn-sm" value="查詢">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="outTable" class="card-body">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#form').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "/WirePanel/WirePanel?partNo=" + $('#partNo').val() + "&name=" + $('#name').val() + "&purchaseId=" + $('#purchaseId').val(),
                dataType: 'html',
                success: function (result) {
                    if (isJsonString(result)) {
                        var _res = JSON.parse(result);
                        if (result == '""') {
                            alert('查無資料');
                            $('#outTable').empty();
                            $('#outTable').css('height', '');
                            $('#outTable').css('overflow', '');
                        }
                        if ('isException' in _res) {
                            alert(_res.msg);
                            $('#outTable').empty();
                            $('#outTable').css('height', '');
                            $('#outTable').css('overflow', '');
                            return false;
                        }
                    }
                    else {
                        //alert('查詢成功');
                        $('#outTable').html(result);
                        var height = $(window).height();
                        $('#outTable').css('height', height / 1.5);
                        $('#outTable').css('overflow', 'scroll');
                    }
                }
            });
        });
    });

    function onDetailClick(e) {

        var _url = "/WirePanel/Detail?partNo=" + e.id;

        location.href = _url;

        //window.open(_url, '_blank');

        //$.ajax({
        //    type: "GET",
        //    url: "/Expendables/History?categoryId=1&partNo=" + e.id,
        //    dataType: 'html',
        //    success: function (result) {
        //        if (result == "") {
        //            alert('查詢錯誤');
        //        }
        //        else {
        //        }
        //    },
        //});
    }

    function onHistoryClick(e) {

        var _url = "/Jigs/History?categoryId=1&partNo=" + e.id;

        location.href = _url;

        //window.open(_url, '_blank');

        //$.ajax({
        //    type: "GET",
        //    url: "/Expendables/History?categoryId=1&partNo=" + e.id,
        //    dataType: 'html',
        //    success: function (result) {
        //        if (result == "") {
        //            alert('查詢錯誤');
        //        }
        //        else {
        //        }
        //    },
        //});
    }


</script>